<?xml version="1.0" encoding="utf-8" ?>
<configuration> 
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key="pictureServer" value="http://localhost:8082" />
  </appSettings>
  
  
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="MsgInspector" type="WcfInspector.InspectorEndPointBehaviorElement, WcfInspector, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
    <bindings>
      <basicHttpBinding>
        <binding name="OQASrv" maxReceivedMessageSize="2147483647"/>
        <binding name="WcfSrv" maxReceivedMessageSize="2147483647"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/OQAService/"
        behaviorConfiguration="MsgInspect" binding="basicHttpBinding"
        bindingConfiguration="WcfSrv" contract="OQAContract.IOQAContract"
        name="OQASrv" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfService/"
        behaviorConfiguration="MsgInspect" binding="basicHttpBinding"
        bindingConfiguration="WcfSrv" contract="WcfContract.IWcfContract"
        name="WcfSrv" />
    </client>

    <behaviors>
      <endpointBehaviors>
        <behavior name="MsgInspect">
          <MsgInspector />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>