<?xml version="1.0" encoding="utf-8" ?>
<configuration> 
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key="pictureServer" value="http://localhost:8082" />
  </appSettings>
  
  
  <system.serviceModel>
    <client>
      <endpoint address="soap.tibco:///WCF" binding="tibcoBinding" bindingConfiguration="WcfTibcoBinding"
        contract="WcfContract.IWcfContract" name="WcfSrv" behaviorConfiguration="MsgInspect"/>
      <endpoint address="soap.tibco:///OQA" binding="tibcoBinding" bindingConfiguration="OQATibcoBinding"
        contract="OQAContract.IOQAContract" name="OQASrv" behaviorConfiguration="MsgInspect"/>
    </client>

    <extensions>
      <bindingExtensions>
        <add name="tibcoBinding" type="Tibco.ServiceModel.TibcoBindingSection, Tibco.ServiceModel" />
      </bindingExtensions>
      <bindingElementExtensions>
        <add name="tibcoTransport" type="Tibco.ServiceModel.TibcoTransportElement, Tibco.ServiceModel"/>
      </bindingElementExtensions>
      <behaviorExtensions>
        <add name="MsgInspector" type="WcfInspector.InspectorEndPointBehaviorElement, WcfInspector, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>

    <bindings>
      <tibcoBinding>
        <binding name="WcfTibcoBinding" service="" network="" deamon="" dqName="HiDM.CIM.CLIENT" maxmessagesize="2147483647">
        </binding>
        <binding name="OQATibcoBinding" service="" network="" deamon="" dqName="HiDM.CIM.CLIENT.CAL" maxmessagesize="2147483647">
        </binding>
      </tibcoBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="tibcoServiceBehavior">
          <serviceMetadata httpGetEnabled="True"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="MsgInspect">
          <MsgInspector />
        </behavior>
      </endpointBehaviors>
    </behaviors>

  </system.serviceModel>
</configuration>