<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="OracleConnString" connectionString="User Id=fwtst1;Password=123456;Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.10.18.1)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=fwtstdbtest)))" />
    <add name="WCFFrameDB" connectionString="User Id=fwtst1;Password=123456;Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.10.18.1)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=fwtstdbtest)));" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="OQADB" connectionString="User Id=fwtst1;Password=123456;Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.10.18.1)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=fwtstdbtest)));" providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="Daemon" value="tcp:10.10.19.114:7500" />
    <add key="Service" value="7500" />
    <add key="TimeOut" value="10" />
    <add key="Domain" value="FAB1.FW300.FWTST1" />
  </appSettings>

  <system.serviceModel>
    <services>
      <service behaviorConfiguration="tibcoServiceBehavior" name= "WcfService.Services.WcfService">
        <endpoint address="WCF" binding="tibcoBinding" bindingConfiguration="WcfTibcoBinding"
          contract="WcfContract.IWcfContract" behaviorConfiguration="MsgInspect"/>
        <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />-->
        <host>
          <baseAddresses>
            <add baseAddress="soap.tibco:///" />
            <!--<add baseAddress="http://localhost:8000/tibcosample" />-->
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="tibcoServiceBehavior" name= "OQAService.Services.OQAService">
        <endpoint address="OQA" binding="tibcoBinding" bindingConfiguration="OQATibcoBinding"
          contract="OQAContract.IOQAContract" behaviorConfiguration="MsgInspect"/>
        <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />-->
        <host>
          <baseAddresses>
            <add baseAddress="soap.tibco:///" />
            <!--<add baseAddress="http://localhost:8000/tibcosample" />-->
          </baseAddresses>
        </host>
      </service>
    </services>

    <extensions>
      <bindingExtensions>
        <add name="tibcoBinding" type="Tibco.ServiceModel.TibcoBindingSection, Tibco.ServiceModel" />
      </bindingExtensions>
      <bindingElementExtensions>
        <add name="tibcoTransport" type="Tibco.ServiceModel.TibcoTransportElement, Tibco.ServiceModel"/>
      </bindingElementExtensions>

      <behaviorExtensions>
        <add name="MsgInspector" type="WcfInspector.InspectorEndPointBehaviorElement, WcfInspector, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>

    <bindings>
      <tibcoBinding>
        <binding name="WcfTibcoBinding" service="" network="" deamon="" dqName="HiDM.CIM" maxmessagesize="2147483647">
        </binding>
        <binding name="OQATibcoBinding" service="" network="" deamon="" dqName="HiDM.CIM.CAL" maxmessagesize="2147483647">
        </binding>
      </tibcoBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="tibcoServiceBehavior">
          <serviceMetadata httpGetEnabled="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="MsgInspect">
          <MsgInspector />
        </behavior>
      </endpointBehaviors>
    </behaviors>

  </system.serviceModel>






  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
